<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row page-header">
                <div class="col-md-8">
                    <h1>Art Supplies Catalog</h1>
                </div>
                <div class="col-md-4">
                    {% if 'username' not in session %}
                        <a href="{{url_for('showLogin')}}">Log in</a>
                    {% else %}
                        <img src="{{session.image}}" class="user-image">
                        <p>Logged in as<br>{{session.username}}</p>
                        <a href="{{url_for('disconnect')}}">Log Out</a>
                    {% endif %}
                </div>
            </div>
            <div class="flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li><strong> {{ message }} </strong></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="row page-content">
                <div class="col-md-3 page-side category-list list-group">
                    <a href="{{url_for('showCategory', category = 'Paints')}}" class="list-group-item">Paints</a>
                    <a href="{{url_for('showCategory', category = 'Canvas')}}" class="list-group-item">Canvas</a>
                    <a href="{{url_for('showCategory', category = 'Paper')}}" class="list-group-item">Paper</a>
                    <a href="{{url_for('showCategory', category = 'Pencils')}}" class="list-group-item">Pencils</a>
                    <a href="{{url_for('showCategory', category = 'Pens')}}" class="list-group-item">Pens</a>
                    <a href="{{url_for('showCategory', category = 'Brushes')}}" class="list-group-item">Brushes</a>
                    <a href="{{url_for('showCategory', category = 'Embellishments')}}" class="list-group-item">Embellishments</a>
                    <a href="{{url_for('showCategory', category = 'Books')}}" class="list-group-item">Books</a>
                    <a href="{{url_for('showCategory', category = 'Sets')}}" class="list-group-item">Sets</a>
                    <a href="{{url_for('showCategory', category = 'Misc')}}" class="list-group-item">Misc</a>
                </div>
                <div class="col-md-9 page-fill">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>