{% extends "main.html" %}
{% block content %}
<h2>Create a new item</h2>
<form action="#" method="POST">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" maxlength="50" class="form-control" name="name" placeholder="Name your item">
        <label for="description">Description:</label>
        <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the item"></textarea>
        <label for="price">Price:</label>
        <input type="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
        <label for="category">Category:</label>
        <select name="category">
            <option name="category" value="Paints">Paints</option>
            <option name="category" value="Canvas">Canvas</option>
            <option name="category" value="Paper">Paper</option>
            <option name="category" value="Pencils">Pencils</option>
            <option name="category" value="Pens">Pens</option>
            <option name="category" value="Brushes">Brushes</option>
            <option name="category" value="Embellishments">Embellishments</option>
            <option name="category" value="Books">Books</option>
            <option name="category" value="Sets">Sets</option>
            <option name="category" value="Misc">Misc</option>
        </select>
        <button type="submit" class="btn btn-default" id="submit" type="submit">Create</button>
    </div>
</form>
<a href="{{url_for('catalog')}}">
    <button class="btn btn-default">Cancel</button>
</a>
{% endblock %}